<h3 class="page-heading">OrientDB Connection</h3>

<div class="gf-form-group">
	<div class="gf-form max-width-30">
		<span class="gf-form-label width-7">Host</span>
		<input type="text" class="gf-form-input" ng-model='ctrl.current.jsonData.url' placeholder="localhost:2424" bs-typeahead="{{['localhost:2424']}}" required></input>
	</div>

	<div class="gf-form max-width-30">
		<span class="gf-form-label width-7">Database</span>
		<input type="text" class="gf-form-input" ng-model='ctrl.current.jsonData.database' placeholder="database name" required></input>
	</div>

	<div class="gf-form-inline">
		<div class="gf-form max-width-15">
			<span class="gf-form-label width-7">User</span>
			<input type="text" class="gf-form-input" ng-model='ctrl.current.jsonData.user' placeholder="user" ng-change="ctrl.refreshToken()"></input>
		</div>
		<div class="gf-form max-width-15">
			<span class="gf-form-label width-7">Password</span>
			<input type="password" class="gf-form-input" ng-model='ctrl.current.jsonData.password' placeholder="password" ng-change="ctrl.refreshToken()"></input>
		</div>
	</div>

	<div class="gf-form-group">
		<div class="gf-form-inline">
			<gf-form-checkbox class="gf-form" label="TLS Client Auth" label-class="width-10"
				checked="ctrl.current.jsonData.tlsAuth" switch-class="max-width-6"></gf-form-checkbox>
			<gf-form-checkbox class="gf-form" label="With CA Cert" tooltip="Needed for
				verifing self-signed TLS Certs" checked="ctrl.current.jsonData.tlsAuthWithCACert" label-class="width-11"
				switch-class="max-width-6"></gf-form-checkbox>
		</div>
		<div class="gf-form-inline">
			<gf-form-checkbox class="gf-form" label="Skip TLS Verify" label-class="width-10"
				checked="ctrl.current.jsonData.tlsSkipVerify" switch-class="max-width-6"></gf-form-checkbox>
		</div>
	</div>

<datasource-tls-auth-settings current="ctrl.current" ng-if="(ctrl.current.jsonData.tlsAuth || ctrl.current.jsonData.tlsAuthWithCACert)">
</datasource-tls-auth-settings>

<h3 class="page-heading">OrientDB details</h3>

<div class="gf-form-group">
	<div class="grafana-info-box">
		<h5>User Permission</h5>
		<p>
			The database user should only be granted READ permissions on the specified database &amp; classes you want to query.
			Grafana does not validate that queries are safe so queries can contain any SQL statement. For example, statements
			like <code>DROP CLASS User;</code> would be executed. To protect against this we <strong>Highly</strong> recommmend
      you create a specific OrientDB user with restricted permissions.
		</p>
	</div>
</div>
