<query-editor-row query-ctrl="ctrl" has-text-edit-mode="true">
  <div class="gf-form-inline">
    <div class="gf-form gf-form--grow">
      <code-editor content="ctrl.target.rawSql" datasource="ctrl.datasource" on-change="ctrl.panelCtrl.refresh()" data-mode="sql">
      </code-editor>
    </div>
  </div>

  <div class="gf-form-inline">
    <div class="gf-form">
      <label class="gf-form-label query-keyword">Format as</label>
      <div class="gf-form-select-wrapper">
        <select class="gf-form-input gf-size-auto" ng-model="ctrl.target.format" ng-options="f.value as f.text for f in ctrl.formats" ng-change="ctrl.refresh()"></select>
      </div>
    </div>
    <div class="gf-form">
      <label class="gf-form-label query-keyword pointer" ng-click="ctrl.showHelp = !ctrl.showHelp">
        Show Help
        <i class="fa fa-caret-down" ng-show="ctrl.showHelp"></i>
        <i class="fa fa-caret-right" ng-hide="ctrl.showHelp"></i>
      </label>
    </div>
    <div class="gf-form gf-form--grow">
      <div class="gf-form-label gf-form-label--grow"></div>
    </div>
  </div>

  <div class="gf-form" ng-show="ctrl.showLastQuerySQL">
    <pre class="gf-form-pre">{{ctrl.lastQueryMeta.sql}}</pre>
  </div>

  <div class="gf-form"  ng-show="ctrl.showHelp">
    <pre class="gf-form-pre alert alert-info">
      Time series:
      - return a column named `time` (in UTC), as a unix time stamp or any sql native date data type. You can use the macros below.
      - return a column named `metric`, as a string which will name the series
      - return a column named `value`, as an integer/float which will be the quantity of the metric

      Resultsets of time series queries need to be sorted by time.

      Miltiple Metrics/Values:

      In order to graph multiple metrics and values from a single query, simply add an "_SeriesName" to the end of the metrics and values. For Example:

      SELECT
        time.asDate().asLong(),
        avg(foo_bar) AS value_A,
        max(foo_bar) AS value_B,
        'Average FooBar' AS metric_A,
        'Max FooBar' AS metric_B
      FROM ...

      Macros:
      - $__timeFilter(column) -&gt; column BETWEEN FROM_UNIXTIME(1492750877) AND FROM_UNIXTIME(1492750877)

      Or build your own conditionals using these macros which just return the values:
      - $__timeFrom() -&gt; FROM_UNIXTIME(1492750877)
      - $__timeTo() -&gt;  FROM_UNIXTIME(1492750877)
      - $__unixEpochFrom() -&gt;  1492750877
      - $__unixEpochTo() -&gt;  1492750877
      - $__unixEpochMilliFrom() -&gt;  1494410783152415214
      - $__unixEpochMilliTo() -&gt;  1494497183142514872
    </pre>
  </div>

  </div>

  <div class="gf-form" ng-show="ctrl.lastQueryError">
    <pre class="gf-form-pre alert alert-error">{{ctrl.lastQueryError}}</pre>
  </div>

</query-editor-row>
